:root {
   --black-pure: #000;
   --white: #2d2d2d;
   --black: #fff;
   --black-010: #2d2d2dc7;
   --black-025: #393939;
   --black-050: #3d3d3d;
   --black-075: #404345;
   --black-100: #4a4e51;
   --black-150: #555a5e;
   --black-200: #697075;
   --black-300: #7d848d;
   --black-350: #959ca3;
   --black-400: #9fa6ad;
   --black-500: #acb2b8;
   --black-600: #c4c8cc;
   --black-700: #cfd2d6;
   --black-750: #dadee0;
   --black-800: #e7e8eb;
   --black-900: #f2f2f3;
   --orange-050: #473c33;
   --orange-100: #5e4433;
   --orange-200: #8d5a2f;
   --orange-300: #cc7525;
   --orange-400: #f48024;
   --orange-500: #ff901e;
   --orange-600: #ffa95e;
   --orange-700: #f8b682;
   --orange-800: #fcd6b9;
   --orange-900: #fee7d6;
   --blue-050: #233e52;
   --blue-100: #25445f;
   --blue-200: #295070;
   --blue-300: #2b5f8a;
   --blue-400: #3070ab;
   --blue-500: #378ad3;
   --blue-600: #3ca4ff;
   --blue-700: #81c4f8;
   --blue-800: #b8dffd;
   --blue-900: #d5ecfd;
   --powder-050: #414648;
   --powder-100: #3e4a52;
   --powder-200: #43525f;
   --powder-300: #4c6071;
   --powder-400: #577489;
   --powder-500: #688eac;
   --powder-600: #7badd3;
   --powder-700: #9cc3db;
   --powder-800: #cde1ee;
   --powder-900: #e5f3ff;
   --green-025: #2e4233;
   --green-050: #344b3a;
   --green-100: #3d6048;
}

.dark {
   .ant-layout-sider-light {
      background-color: var(--white) !important;
   }
   .ant-menu {
      background-color: var(--white) !important;
   }
   .ant-layout-header {
      background-color: var(--black-075) !important;
   }
   section.ant-layout {
      &:nth-child(2) {
         background-color: var(--black-010) !important;
      }
      .breadcrumbs {
         background-color: var(--black-075) !important;
      }
   }
   .ant-menu-item-selected {
      background-color: var(--black-075) !important;
   }
   .ant-menu-item {
      a {
         color: var(--black-350) !important;
      }
   }
   .ant-card {
      background-color: var(--white) !important;
   }
   .ant-table {
      background-color: var(--white) !important;
   }
   .ant-table-tbody > tr > td {
      border-bottom: 1px solid var(--white) !important;
   }
   .ant-table-thead > tr > th {
      background-color: var(--black-075) !important;
      border-bottom: 1px solid var(--white) !important;
   }
   th, tr {
      background-color: var(--black-075) !important;
      color: var(--black) !important;
   }
   tr.ant-table-row {
      &:hover > td {
         background-color: var(--powder-100) !important;
      }
      &:active > td {
         background-color: var(--powder-100) !important;
      }
      &.selected {
         background-color: var(--blue-400) !important;
      }
      &.selected:hover > td {
         background-color: var(--blue-400) !important;
      }
   }

   .ant-input-affix-wrapper {
      background-color: var(--white) !important;
   }
   .ant-input {
      background-color: var(--white) !important;
      border-color: var(--black-075) !important;
   }
   .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      border-color: var(--black-075) !important;
   }
   .ant-select-selector {
      background-color: var(--white) !important;
      color: var(--black-350) !important;
   }
   .ant-picker {
      background-color: var(--white) !important;

      &-input > input {
         color: var(--black-350) !important;
      }
      &-panel {
         background-color: var(--black-075) !important;
      }
   }
   .ant-btn {
      background-color: var(--black-100) !important;
      color: var(--black-350) !important;
      border: unset !important;
   }
   .ant-card-head-title {
      color: var(--black-350) !important;
   }
   .ant-card-head {
      border-bottom: 1px solid var(--black-010) !important;
   }
   .ant-card-bordered {
      border: 1px solid var(--black-010) !important;
   }
   .bg-flash.bg-color-white {
      background-color: var(--black-075) !important;
   }
   .ant-badge {
      span:nth-child(2) {
         color: var(--black-350) !important;
      }
   }
   .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
      background-color: var(--black-075) !important;
      color: var(--black-350) !important;
   }

   .ant-pagination-item-link {
      background-color: var(--black-075) !important;
      color: var(--black-350) !important;
      border: 1px solid var(--black-075) !important;
   }
   .ant-pagination-item {
      background-color: var(--black-075) !important;
      border: 1px solid var(--black-075) !important;
      &-active {
         background-color: var(--white) !important;
      }
   }
   .ant-input-affix-wrapper {
      border: 1px solid var(--black-075) !important;
   }
   .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
      border-bottom: 1px solid var(--black-075) !important;
   }
   .ant-tabs-nav .ant-tabs-tab-active {
      border: 1px solid var(--black-075) !important;
   }
   .ant-tabs-nav .ant-tabs-tab {
      border: 1px solid var(--black-075) !important;
   }
   .ant-dropdown-menu {
      background-color: var(--black-075) !important;

      &-item:hover, .ant-dropdown-menu-submenu-title:hover {
         .ant-btn {
            background-color: var(--white) !important;
         }
         background-color: var(--white) !important;
      }
   }
   .ant-select-dropdown {
      background-color: var(--black-075) !important;
   }

   span.ant-tag {
      background-color: var(--white) !important;
      border-color: var(--black-075) !important;
      color: var(--black-350);
   }
   span.ant-select-arrow {
      color: var(--blue-600);
   }
   .ant-empty-img-default-path {
      &-4 {
         fill: var(--black-075) !important;
      }
      &-3, &-5 {
         fill: var(--black-350) !important;
      }
   }
   textarea, label[for='basic_text'] {
      color: var(--black-350) !important;
   }
   .ant-select-item-option-content {
      color: antiquewhite;
   }
   .ant-select-item {
      &:hover, &.selected, &-option-selected:not(.ant-select-item-option-disabled) {
         background-color: var(--black-075) !important;
      }
   }
}
